<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.lat %></td>
        <td><%= city.lon %></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Show', city %></button></td>
        <td><button type="button" class="btn btn-info"><%= link_to 'Edit', edit_city_path(city) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-warning"><%= link_to 'New City', new_city_path %></button>
