<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @city.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @city.lon %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @forecasts[:temperature] %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @forecasts[:summary] %>
</p>

<p>
  <strong>Windspeed:</strong>
  <%= @forecasts[:windSpeed] %>
</p>

<button type="button" class="btn btn-info"><%= link_to 'Edit', edit_city_path(@city) %></button> |
<button type="button" class="btn btn-success"><%= link_to 'Back', cities_path %></button>